<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Happy Hikers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <nav class="login">
        <a href="/" <%- title==='home' ? 'class="active"' : '' %>>H&H</a>
        <a href="/trails">Trails</a>

        <% if (user) { %>

            <a href="/playlist" <%- title==='Playlist' ? 'class="active"' : '' %>>Playlist</a>
            <a href="/favorite" <%- title==='Favorite' ? 'class="active"' : '' %>>Favorite</a>
            <a href="/trails/new" <%- title==='Add Trail' ? 'class="active"' : '' %>>Add a trail</a>
            <a href="/logout">Log Out</a>

            <% } else { %>
                <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
                <% } %>
    </nav>
    <main>