<%- include('./partials/header') %>
  <h1>
    H&H
  </h1>
  <p>Welcome to <%= title %> ! This is a place for hiking lovers to share and review hiking trails.
  </p>
  <p>Please click on the "LOG IN" button to start exploring</p>
  <%- include('./partials/footer') %>