<%- include('./partials/header') %>
  <h1>
    H&H
  </h1>
  <p>Welcome to <%= title %> ! This is a place for hiking lovers to view, share and review hiking trails.
  </p>
  <p>Please click on the "LOG IN" button to join our community or simply click on the home button to start exploring</p>
  <%- include('./partials/footer') %>