html {
  margin:0;
  padding:0;
}
body {
  height: 100%;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin:0;
  padding:0;
}

.login a {
  color: white;
  margin: 50px 10px;
  text-transform: uppercase;
  text-decoration: none;
}
.login a:hover {
  color: grey;
  padding: 2px;
}

.login {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: end;
  height: 125px;
  margin-right: 20px;
}

.login img {
  height: 30px;
}

main {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}
#main-img {
  z-index: -1;
  position: absolute;
  left:0px;
  top:0px;
  height: 100vh;
  width: 100vw;
  object-fit:cover;
  /* filter: brightness(70%) hue-rotate(330deg); */
}

h1 {
  color: white;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -0.5px;
  text-align: center;
}
section {
  background-image: url("https://i.imgur.com/mhgBPSp.jpg");
  margin:0;
  height: 500px;
  background-size:cover;
  justify-content: center;
}

.Favorites {
  background-image: url("https://i.imgur.com/YpA2u5J.jpg");
}

.All {
  background-image: url("https://i.imgur.com/owCEwl6.jpg");
}

.Add {
  background-image: url("https://i.imgur.com/zw56aOX.jpg");
}
.THE {
  background-image: none;
}
.Songs {
  background-image: url("https://i.imgur.com/DycLO8h.jpg");
}
#song th{
  display: inline-block;
  padding: 10px 50px;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}