body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: end;
  align-items: center;
  /* height: 34px; */
}

.login img {
  height: 30px;
}
main {
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
}