<%- include('../partials/header') %>

    <p>Recommended songs for your hiking playlist</p>
    <a href="/playlist/new">Click here to share your favorite songs</a>
    <table id="list">
        <thead>
            <tr>
                <th>Artist</th>
                <th>Song</th>
            </tr>
        </thead>
        <table id="list">
            <tbody>
                <% songs.forEach(function(t) { %>
                    <tr>
                        <td>
                            <%= t.artist %>
                        </td>
                        <td>
                            -
                        </td>

                        <td>
                            <%= t.songName %>
                        </td>

                    </tr>
                    <% }); %>
            </tbody>
        </table>

        <%- include('../partials/footer') %>