<%- include('../partials/header') %>

    <h3>Please fill out the following form to add a new hiking trail</h3>

    <form id="new-form" action="/trails" method="POST">
        <!-- <label name="user.name">Created by: </label>
        <input type="text" name="user.name" value="<%= user.name %>" readonly> -->
        <label>Location:</label>
        <input type="text" name="location" placeholder="City,State">
        <label>Trail Name:</label>
        <input type="text" name="trailName">
        <label>Image:</label>
        <input type="text" name="image" placeholder="URL">
        <label>Difficulty Level</label>
        <select name="difficulty">
            <option value="Easy">easy</option>
            <option value="Moderate">moderate</option>
            <option value="Challenging">challenging</option>
            <option value="Difficult">difficult</option>
            <option value="Extreme">extreme</option>
        </select>
        <label>Distance</label>
        <input type="text" name="distance">
        <select name="unit">
            <option value="kms">km/s</option>
            <option value="miles">mile/s</option>
        </select>
        <label>Pets Allowed</label>
        <input type="checkbox" name="petsAllowed" checked>
        <input type="submit" value="Add Trail">
    </form>

    <%- include('../partials/footer') %>